body {
    background-color: #fc2c03;
    font: 'Play', display;
    color: #e5e5e5;
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 50px;
    font-size: 25px;
    line-height: 2;
    text-shadow: 5px 5px 5px #000
}